



<!DOCTYPE html>
<html lang='en'>

<head>
    {% block head %}
<title>Jagat Singh</title>
    {% endblock %}

{% load staticfiles%}

<meta charset="uft-8"/>

<script src="/static/js/popper.min.js"></script>
<link href="/static/css/css/bootstrap-datepicker.css" rel="stylesheet">
<script src="/static/js/angular.js" charset="utf-8"></script>
<!--<script src="/static/js/jquery.js" charset="utf-8"></script><-->
<script src="/static/js/moment.js"></script>
<script src="/static/js/datetime.js"></script>
<script src="/static/js/app.js"></script>
<link rel='stylesheet' href="{% static 'css/bootstrap.min.css'%}" type='text/css'/>  <!--  you can also do this href="/static/css/bootstrap.min.css" -->
<link href="{% static 'css/album.css'%}" rel="stylesheet">
<link href="/static/libs/date/css/bootstrap-datepicker.css" rel="stylesheet">
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/date/js/bootstrap-datepicker.min.js"></script>


</head>
<body class="body" style="background-color:#f6f6f6">


{% block nav %}







<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
<div class="container">
      <a class="navbar-brand" href="#">Brijlal</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/patient_info/home/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/patient_info/profile/">View Profile</a>
              <a class="dropdown-item" href="/patient_info/edit/">Edit Profile</a>
              <a class="dropdown-item" href="/patient_info/password/">Change Password</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/patient_info/patient_information/">UHID</a>
              <a class="dropdown-item" href="/patient_info/patient_info_ipno/">IP/No</a>
              <a class="dropdown-item" href="/patient_info/typesearch/">Type</a>
              <a class="dropdown-item" href="/patient_info/datesearch/">Date</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <li class="nav-item">
            <a class="btn btn-bd-yellow d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="/patient_info/register/">Register</a>
          </li>
          <a class="btn btn-outline-success my-2 my-sm-0" href="/patient_info/logout/">Logout</a>
        </form>
      </div>
    </div>
    </nav>





{% endblock %}
<!--
 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Brijlal</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Login</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
              </ul>
           <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li> <a href="/brijlal/register/">Register</a></li>
                </ul>

          </ul>
        </div><!--/.nav-collapse       </div>
    </nav>
        -->



{% block content %}
<br/>
<br/>
<br/>
<br/>
<br/>
<center>


      <div class="container">

      <div class="starter-template">
        <h1>Brijlal Patient Management System</h1>
        <p class="lead"></p>
      </div>
    </div>
</center>
<br/>
<br/>

{% if no == '1' %}
<h4>{{ last }}
    </h4>
{% endif %}




    <div class="album text-muted">
      <div class="container">

        <div class="row">
            <p>
          <div class="card" data-toggle="tooltip">

            <a  href="/patient_info/new_form/"><img src="/static/image/patient2.png" alt="Card image cap">
          </div></p></a>
          <div class="card">
            <a  href="/patient_info/patient_information/"> <img src="/static/image/patient1.png" alt="Card image cap">
          </div></a>
          {% if user.is_superuser %}
          <div class="card">
            <a  href="/patient_info/deletepa/"> <img src="/static/image/patient5.png" alt="Card image cap">
          </div></a>
          {% endif %}
         <!--  <div class="card">
            <a  href="#"><img src="#" alt="Card image cap">
          </div></a>
          <div class="card">
            <a  href="#"><img src="#" alt="Card image cap">
          </div></a>
          <div class="card">
            <img src="#" alt="Card image cap">
          </div> -->


        </div>

      </div>
    </div>




{% endblock %}
{% block scriptlast %}

<script src="/static/js/popper.min.js"></script>
<script src="/static/js/app.js"></script>
  <script src="/static/js/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/static/js/jquery.js"><\/script>')</script>

    <script src="/static/js/bootstrap.min.js"></script>

{% endblock %}
</div>
</body>
</html>






















































